[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow-gpu = "==1.15.0"
imgaug = "==0.2.6"
opencv-python = "==4.2.0.32"
Keras = "==2.2.4"
h5py = "==2.10.0"

[dev-packages]

[requires]
python_version = "3.7"
